{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>Add Patient Details</h1>

    <form action="/add_patient" method="POST">

        <label>👤 Patient Name</label>
        <input type="text"
               name="name"
               placeholder="Enter patient name"
               required>

        <label>🎂 Age</label>
        <input type="number"
               name="age"
               placeholder="Enter age"
               required>

        <label>🩸 Glucose Level</label>
        <input type="number"
               name="glucose"
               placeholder="Enter glucose level"
               required>

        <label>❤️ Blood Pressure</label>
        <input type="number"
               name="blood_pressure"
               placeholder="Enter blood pressure"
               required>

        <center>

        <button class="btn" type="submit">
            Predict Diabetes
        </button>

        </center>

    </form>

</div>

{% endblock %}